.navbar {
  background-color: #1A3B56;
}

.navbar-toggle .icon-bar {
  background-color: #76899a !important;
}

.navbar a {
  font-size: 1.1em;
  font-family: open_sansregular;
  color: #76899a !important;
  padding: 0px 15px 15px 15px;
}

.navbar a:hover {
  color: #a3b1bb !important;
}

.nav-second-row {
  background-color: white;
}

.nav-second-row a {
  padding-top: 0px !important;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  margin: 11px 0px 0px 13px;
  height: 25px;
}

.navbar-company .name {
  /*padding-right: 5px !important;*/
}

.navbar-company .logo {
  padding-right: 0px;
}

.navbar-company .logo img {
  padding: 2px 4px 2px 4px;
  margin: -4px 0px 0px 0px;
  height: 25px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a3b56 !important;
}

.navbar-right {
  padding-right: 30px;
}

.navbar-right .form-control {
  width: 280px;
}

.navbar-nav > li > a {
  cursor: pointer;
}

.truncate a {
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.truncate-xs a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .truncate a {
    width: 700px;
  }
}

@media (max-width: 992px) {
  .truncate a {
    width: 550px;
  }
}

@media (max-width: 768px) {
  .navbar-collapse,
  .navbar-form,
  .navbar-toggle {
    border-color: #76899a !important;
  }

  .navbar-right .form-control {
    width: 100%;
  }

  .navbar-brand img {
    margin: 13px 0px 0px 13px;
  }
}

@media (min-width: 768px) {
  .pull-right-not-xs {
    float: right !important;
  }

  .nav-second-row ul {
    margin-left: 12px !important;
  }
}
