<!-- Header Start -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/images/alerts_logo_trans.png" alt="Logo"></a>
    </div>

    <div class="collapse navbar-collapse text-center" id="header-collapse">
      <ul class="nav navbar-nav">
        <li><a ng-click="facebookShare()">Share on <i class="fa fa-facebook"></i></a></li>
        <li><a ng-click="twitterShare()">Share on <i class="fa fa-twitter"></i></a></li>
      </ul>
      <ul class="nav navbar-nav pull-right-not-xs">
        <li class="hidden-xs"><a href="{{ url }}"><i class="fa fa-times"></i></a></li>
        <li class="visible-xs"><a href="{{ url }}"><i class="fa fa-times"></i> Remove this header</a></li>
      </ul>
    </div>

    <div class="nav-second-row">
      <ul class="nav navbar-nav navbar-company">
        <li><a class="logo"><img class="img-thumbnail" ng-src="{{ currentArticle.matchCompanyLogo }}" alt="Company Logo"></a></li>
        <li><a class="name">{{ currentArticle.matchCompany }} </a></li>
      </ul>
      <ul class="nav navbar-nav pull-right-not-xs" >
        <li class="truncate hidden-xs">
          <a ng-click="next()" ng-show="nextArticle">
            <strong>Next Up:</strong> {{ nextArticle.title }} <i class="fa fa-chevron-circle-right"></i>
          </a>
        </li>
        <li class="truncate-xs visible-xs">
          <a ng-click="next()" ng-show="nextArticle">
            <strong>Next Up:</strong> {{ nextArticle.title }} <i class="fa fa-chevron-circle-right"></i>
          </a>
        </li>
        <li ng-click="first()" class="truncate-xs text-center">
          <a ng-hide="nextArticle">
            <strong>Done</strong> <i class="fa fa-thumbs-up"> (Back to First)</i>
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<!-- Header End -->
<div class="articleError alert alert-danger" ng-show="urlError">Invalid URL</div>

<div class="article" ng-hide="urlError">
  <iframe ng-src="{{ trustedUrl }}" frameBorder="0"></iframe>
</div>
